*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
font-family: 'Josefin Sans', sans-serif;

}
header{
    height: 100vh;
}
.main{
    background-color: black;
}
.logo{
    
    height:70%;
}
.example{
    float: right;


}
.btnone{
    background-color:#0073aa;
    color: white;
    margin-right: 15px;
    transition:all .5s ease;
}
    

.btnone:hover{
        background:#0073aa;
        color: white;
}


.meet{
    text-align: center;
    position: relative;
    background-color: #0073aa;
    color: white;
    height: 18%;
    font-family: "Open Sans",sans-serif;
   
    
}
.about{
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
    color: #82878C;
    margin: -.4rem auto 2rem;
    max-width: 35.52714rem;
    padding: 11px 0;
    box-sizing: border-box;
}
.center {
    
    margin-left: 20%;
    box-shadow: 0 1px 8px rgba(0,0,0,.2);
    max-width: 800px;
    border-style: none;
    box-sizing: border-box;
    border: 0;
   
}
.middle{
    position: absolute;
    bottom: -100px;
    right: 1px;
    z-index: 1;
    max-width: 200px;
    border-style: none;
    box-sizing: border-box;
    margin-right: 15%;
    bottom: -50%;
}
.info{
    font-size: 1.25rem;
    font-weight: 200;
    text-align: center;
    color: #82878C;
    margin: -.4rem auto 2rem;
    max-width: 35.52714rem;
    padding: 11px 0;
    box-sizing: border-box;
    
}
.college{
    height: 600px;
    background-attachment: fixed;
    width: 100%;
    background-image: url("college.png") ;
    background-size: cover;
    box-shadow: inset 0 0 8px rgba(0,0,0,.4);
    box-sizing: border-box;
    display: block;
}
.link{
    color: #0073aa;
    max-width: 100%;
    text-align: center;
    margin: 3.05176rem 0 0;
    font-size: 18px;
    padding: 11px 0;
    height: 20%;
}
.features{
    text-align: center;
    line-height: 1;
    font-size: 2.44141rem;
    font-weight: 50;
    height: 30%;
    color: #82878C;
}
.fetures p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.p subheading{
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
    color: #82878C;
    margin: -.4rem auto 2rem;
    max-width: 35.52714rem;
    padding: 11px 0;
}

    
.some{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin: 1em 0;
    max-width: 35.52714rem;
    font-size: 18px;
    padding: 11px 0;
}
.community{
    background: url(https://s.w.org/images/home/community-2.jpg?3) no-repeat;
    position: relative;
    max-width: 100%;
    background-size: cover;
    height: 500px;
    border: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
}
.community h2 {
    color: #fff;
    position: relative;
    z-index: 1;
    text-shadow: 0 0 8px rgba(0,0,0,.5);
    text-align: left;
    margin: 0 0 1rem;
    max-width: 100%;
    margin-left: 25%;
    top: -25%;
    position: relative;
}
.community p{
     font-size: 1.25rem;
    font-weight: 300;
    padding: 11px 0;
    margin-left: 25%;
   position: relative;

}
.could{
    text-align: center;
    height: 40%;
}
.could h2{
    text-align: center;
    line-height: 1;
    font-size: 2.44141rem;
    font-weight: 300;
    margin: 2rem 0 1rem;
    font-family: inherit;
    

}
.could p{
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
    color: #82878C;
    margin: -.4rem auto 2rem;
    max-width: 35.52714rem;
    padding: 11px 0;


}
#row .col-4{
    margin-top: 28px;
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px solid #dedede;
    padding-bottom: 4px;
    color: #23282d;
}
.last{
    height: 40%;
    font-size: 14px;
    margin-bottom: 1px;
    color: #bbb;
    list-style-type: none;
}


 


  


